/* Стили для всех кнопок */
.button {
    -fx-background-color: linear-gradient(to bottom, #3498db, #2980b9); /* Градиент фона */
    -fx-text-fill: white;
    -fx-font-size: 24px;
    -fx-padding: 15;
    -fx-min-width: 250px;
    -fx-min-height: 60px;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-cursor: hand;
}

/* Эффект при наведении */
.button:hover {
    -fx-background-color: linear-gradient(to bottom, #2980b9, #1e6a8e);
}

/* Эффект нажатия */
.button:pressed {
    -fx-background-color: linear-gradient(to bottom, #1e6a8e, #145374);
}

/* Заголовок */
.title-label {
    -fx-font-size: 48px;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-alignment: center;
}
